{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="titre">Star Ship Racing</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-5 offset-4 ">
            <a style="color: #12ff00;display:inline-block; "  class="nav-link" href="/">Accueil</a>
            <a style="color: #12ff00;display:inline-block; " class="nav-link" href="/circuit">Circuits</a>
            <a style="color: #12ff00;display:inline-block; " class="nav-link" href="/course">Courses</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <p class="description text-justify">Une course effrénée entre les meilleurs vaisseaux de l'univers qui se déroulent en 3 rounds:<br> <br> - Le premier round se passe dans la ceinture de Kuiper ! <br>Les deux groupes se lanceront en même temps. L'une se lancera dans un sens tandis que l'autre ira en sens inverse. Chaque équipe devra passer par les 12 checkpoints éparpillés sur le circuit.<br> <br> - Le second round prendra les 3 équipes survivantes de chaque groupe et iront se disputer sur le circuit Arc-En-Ciel.<br> <br> - Les trois meilleures équipes iront disputer la finale dans la sombre Nébuleuse.</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<h2 class="col-6 offset-3 titre">Les Equipes</h2>

<div class="container-fluid equipe">
    <div class="row">
        {% for equipe in equipes %}
            <div class="col-3 ">
                <div class="test">
                    <img style="height: 140px; width: 140px;" src="{{ equipe.imgSymbole }}"><br>
                    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#{{ equipe.nom }}">{{ equipe.nom }}</button>
                    <div class="modal fade" id="{{ equipe.nom }}" role="dialog">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h3 class="titre"> {{ equipe.nom }}</h3>
                                    <div class="logo">
                                        <img style="height: 140px; width: 140px;" src="{{ equipe.imgSymbole }}">
                                        <img class="photoIndiv" style="width: 140px; height: 140px;" src="{{ equipe.imgVaisseau }}"><br>
                                    </div>
                                    <br>
                                    <br>
                                    <p class="descriptionEquipe">{{ equipe.description }}</p>
                                    <br>
                                    <br>

                                    <div class="photoEquipage">
                                        <img style="width: 140px; height: 140px;" src="https://www.bloodbowl.com/wp-content/uploads/2016/09/team-profiles-human.jpg">
                                        <img class="photoIndiv" style="width: 140px; height: 140px;" src="https://www.bloodbowl.com/wp-content/uploads/2016/09/team-profiles-human.jpg">
                                        <img class="photoIndiv" style="width: 140px; height: 140px;" src="https://www.bloodbowl.com/wp-content/uploads/2016/09/team-profiles-human.jpg">
                                        <img class="photoIndiv" style="width: 140px; height: 140px;" src="https://www.bloodbowl.com/wp-content/uploads/2016/09/team-profiles-human.jpg">
                                    </div>

                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5 offset-7">
                        <p class="footer">Site développer par Thomas,Cyril,Illya et Axel <a href="/admin.login">Admin</a> </p>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block stylesheets %}
            <style>
                span{
                    color: #15ff00;
                }

                .nav-link{
                    text-align: center;
                    border: 1px solid black;
                    background-color: rgba(0,0,0, 0.7);
                    margin-left: 20px;
                }
                .test{
                    text-align: center;
                    margin : 10px;
                    padding-top: 10px;
                    border: 1px solid black;
                    background-color: rgba(0,0,0, 0.7);

                }

                body{
                    background: url("https://wallpaperlayer.com/img/2015/7/outer-space-wallpaper-5236-5481-hd-wallpapers.jpg");
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                }

                .photoIndiv{
                    margin-left: 20px;
                }

                .photoEquipage{
                    margin-left: 20px;
                }

                img{
                    margin-bottom: 10px;
                    border-radius: 50%;
                }

                .row{
                    margin-top: 50px;
                }

                h1{
                    font-family: 'Orbitron', sans-serif;
                    color: dodgerblue;
                    text-align: center;
                    border: 1px solid black;
                    background-color: rgba(0,0,0, 0.7);
                }

                h2{
                    font-family: 'Orbitron', sans-serif;
                    text-align: center;
                    border: 1px solid black;
                    background-color: rgba(0,0,0, 0.7);

                }

                h3{
                    font-family: 'Orbitron', sans-serif;
                    text-align: center;

                }

                .description{
                    font-size: 30px;
                    padding: 15px;
                    color: dodgerblue;
                    text-align: center;
                    border: 1px solid black;
                    background-color: rgba(0,0,0, 0.7);
                    font-family: 'Orbitron', sans-serif;
                }

                .descriptionEquipe{
                    border: 1px solid black;
                    color: dodgerblue;
                    font-family: 'Orbitron', sans-serif;
                }

                equipe{
                    margin-bottom: 20px;
                }

                .titre{
                    font-size: 3em;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: greenyellow;
                    font-family: 'Orbitron', sans-serif;
                }

                .modal-body{
                    background-color: black;
                }

                .modal-content{
                    background-color: black;
                }

                .btn{
                    margin-bottom: 10px;
                }
                .footer{
                    text-align: center;
                    color: dodgerblue;
                }
            </style>
        {% endblock %}
