{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les membres d'équipage</h1>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Photo</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for equipage in equipages %}
            <tr>
                <td><a href="{{ path('equipage_show', { 'id': equipage.id }) }}">{{ equipage.id }}</a></td>
                <td>{{ equipage.nom }}</td>
                <td><img style="height: 150px; width: 150px" src="{{ equipage.photo }}" class="img-fluid" alt="Responsive image"></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('equipage_show', { 'id': equipage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('equipage_edit', { 'id': equipage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('equipage_new') }}" >Ajouter un membre d'équipage</a>
    <a class="btn btn-danger" href="{{ path('admin') }}" role="button">Retour au menu d'administration</a>

{% endblock %}
