{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ equipage.nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ equipage.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('equipage_edit', { 'id': equipage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
