{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h2 class="titre">Equipage</h2>
                <a class="btn" href="{{ path('equipage_index') }}">Retour à L'équipage</a>
                <a class="btn " href="{{ path('admin') }}" role="button">Retour au menu d'administration</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3 offset-4 test">
                <table>
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ equipage.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ equipage.nom }}</td>
                    </tr>
                    <tr>
                        <th>Photo</th>
                        <td>{{ equipage.photo }}</td>
                    </tr>
                    </tbody>
                </table>
                <a style="color:red;" href="{{ path('equipage_edit', { 'id': equipage.id }) }}">Edit</a>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div
{% endblock %}
   {% block stylesheets %}
       <style>

           body{
               background: url("https://wallpaperlayer.com/img/2015/7/outer-space-wallpaper-5236-5481-hd-wallpapers.jpg");
               background-repeat: no-repeat;
               background-attachment: fixed;
           }

           .titre{
               color: greenyellow;
               font-family: 'Orbitron', sans-serif;
               padding-top: 10px;
               padding-bottom: 10px;
               margin-bottom: 30px;
               margin-top: 30px;
           }
           h2
           {
               border: 1px solid black;
               background-color: rgba(0,0,0, 0.7);
               text-align: center;

           }
           .btn{
               border: 1px solid black;
               background-color: rgba(0,0,0,0.98);
               text-align: center;
               margin-bottom: 30px;
               margin-top: 20px;
           }
           .test{
               border: 1px solid black;
               background-color: rgba(138,138,138, 0.7);
               margin-top:200px;
               padding-top: 20px;
               padding-bottom: 20px;
           }


       </style>
   {% endblock %}