{% extends 'base.html.twig' %}

{% block body %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Courses</title>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h1 class="titre">Star Ship Racing</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-5 offset-4 ">
                <a style="color: #12ff00;display:inline-block; "  class="nav-link" href="/">Accueil</a>
                <a style="color: #12ff00;display:inline-block; " class="nav-link" href="/circuit">Circuit</a>
                <a style="color: #12ff00;display:inline-block; " class="nav-link" href="/course">Match</a>
            </div>
        </div>
    </div>

    <div class="col-4 offset-4">
        <h1 style="margin-bottom: 50px" class="titre">Courses</h1>
    </div>
    <div class="container-fluid">

        <!-- Jour 1 -->
        <div class="row">
            <div class="col-2">
                <table class="table table-hover">
                    <tbody>
                {% for i,equipe in equipes %}
                    {% if i < 6 %}
                    <tr>
                    <td><img style="height: 20px; width: 20px;" src="{{ equipe.imgSymbole }}"><br></td>
                    <td>{{ equipe.nom }}</td>
                    </tr>
                    {% endif%}
                {% endfor%}
                    </tbody>
                </table>

            </div>
        </div>
        <!-- Jour 2 -->
        <div class="row">
            <div class="offset-3 col-2">
                <table class="table table-hover">
                    <tbody>
                            <tr>
                                <td><img style="height: 20px; width: 20px;" src="{{ equipes.0.imgSymbole }}"><br></td>
                                <td>{{ equipes.0.nom }}</td>
                            </tr>
                            <tr>
                                <td><img style="height: 20px; width: 20px;" src="{{ equipes.4.imgSymbole }}"><br></td>
                                <td>{{ equipes.4.nom }}</td>
                            </tr>
                            <tr>
                                <td><img style="height: 20px; width: 20px;" src="{{ equipes.5.imgSymbole }}"><br></td>
                                <td>{{ equipes.5.nom }}</td>
                            </tr>
                            <tr>
                                <td><img style="height: 20px; width: 20px;" src="{{ equipes.7.imgSymbole }}"><br></td>
                                <td>{{ equipes.7.nom }}</td>
                            </tr>
                            <tr>
                                <td><img style="height: 20px; width: 20px;" src="{{ equipes.9.imgSymbole }}"><br></td>
                                <td>{{ equipes.9.nom }}</td>
                            </tr>
                            <tr>
                                <td><img style="height: 20px; width: 20px;" src="{{ equipes.11.imgSymbole }}"><br></td>
                                <td>{{ equipes.11.nom }}</td>
                            </tr>
                    </tbody>
                </table>

            </div>

            <!-- Jour 3-->
            <div class="offset-1 col-2">

                <table id="tablejour3" class="table table-hover">
                    <tbody>
                    <tr>
                        <td><img style="height: 20px; width: 20px;" src="{{ equipes.0.imgSymbole }}"></td>
                        <td>{{ equipes.0.nom }}</td>
                    </tr>
                    <tr>
                        <td><img style="height: 20px; width: 20px;" src="{{ equipes.5.imgSymbole }}"><br></td>
                        <td>{{ equipes.5.nom }}</td>
                    </tr>
                    <tr>
                        <td><img style="height: 20px; width: 20px;" src="{{ equipes.7.imgSymbole }}"><br></td>
                        <td>{{ equipes.7.nom }}</td>
                    </tr>
                    </tbody>
                </table>


            </div>
            <!-- Gagnant-->
            <div class="offset-1 col-2">
                <table id="gagnant" class="table table-hover">
                    <tbody>
                    <tr>
                        <td><img style="height: 20px; width: 20px;" src="{{ equipes.5.imgSymbole }}"><br></td>
                        <td>{{ equipes.5.nom }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!-- Jour 1 -->
        <div class="row">
            <div class="col-2">
                <table class="table table-hover">
                    <tbody>
                     {% for i,equipe in equipes %}
                        {% if i > 5 %}
                            <tr>
                                <td><img style="height: 20px; width: 20px;" src="{{ equipe.imgSymbole }}"><br></td>
                                <td>{{ equipe.nom }}</td>
                            </tr>
                        {% endif%}
                    {% endfor%}
                    </tbody>
                </table>

            </div>
        </div>

    </div>



    </body>
    </html>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-5 offset-3">
                    <p class="footer">Site développer par Thomas,Cyril,Illya et Axel <a href="/admin/login">Admin</a> </p>
                </div>
            </div>
        </div>
    </footer>
    
{% endblock %}

{% block stylesheets %}
    <style>

        body{
            background: url("https://wallpaperlayer.com/img/2015/7/outer-space-wallpaper-5236-5481-hd-wallpapers.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .nav-link{
            text-align: center;
            border: 1px solid black;
            background-color: rgba(0,0,0, 0.7);
            margin-left: 20px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .titre{
            color: greenyellow;
            font-family: 'Orbitron', sans-serif;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        h1
        {
            border: 1px solid black;
            background-color: rgba(0,0,0, 0.7);
            text-align: center;
        }
        .table-hover
        {

            border: solid 1px gray;
            color: dodgerblue;


        }

        td
        {
            border: 1px solid white;
            background-color: rgba(0,0,0, 0.7);
        }

        #tablejour3
        {
            margin-top: 30%

        }
        .footer
        {
            text-align: center;
            color: dodgerblue;
        }
        #gagnant
        {

            margin-top: 50%
        }

    </style>
{% endblock %}