{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Equipes</h1>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Symbole</th>
            <th scope="col">Vaisseau</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td><a href="{{ path('equipe_show', { 'id': equipe.id }) }}">{{ equipe.id }}</a></td>
                <td>{{ equipe.nom }}</td>
                <td><img src="{{ equipe.imgSymbole }}" class="img-fluid" alt="Responsive image"></td>
                <td><img src="{{ equipe.imgVaisseau }}" class="img-fluid" alt="Responsive image"></td>
                <td>{{ equipe.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('equipe_show', { 'id': equipe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('equipe_edit', { 'id': equipe.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-danger" href="{{ path('admin') }}" role="button">Retour au menu d'administration</a>
{% endblock %}
