{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipe</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ equipe.nom }}</td>
            </tr>
            <tr>
                <th>Imgsymbole</th>
                <td>{{ equipe.imgSymbole }}</td>
            </tr>
            <tr>
                <th>Imgvaisseau</th>
                <td>{{ equipe.imgVaisseau }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ equipe.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('equipe_edit', { 'id': equipe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
